# Node.js
node_modules/
.env
dist/
build/
first_project/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*

# Temporary files
*.tmp
*.swp

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python
__pycache__/
*.pyc

# Others
*.bak
*.zip
*.tar.gz
